@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
  --darkemail: hsl(217, 28%, 15%);
  --darkbackground: hsl(218, 28%, 13%);
  --darkfooter: hsl(216, 53%, 9%);
  --darktestimonials: hsl(219, 30%, 18%);
  --cyan: #65e2d9;
  --blue: #339ecc;
  --red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  background-color: var(--darkbackground);
  height: 100vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.6rem;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
}

button {
  background: linear-gradient(90deg, rgba(101, 226, 217, 1) 0%, rgba(51, 158, 204, 1) 100%);
  width: 320px;
  height: 60px;
  color: var(--white);
  border-radius: 50px;
  font-weight: 700;
  font-size: 1.6rem;
  border: 0;
}

button:hover {
  background: var(--cyan);
  cursor: pointer;
}

img {
    max-width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: var(--darkemail);
  background-size: cover;
}

.header__logo img {
  width: 150px;
}

.header__menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: 'Open-Sans', sans-serif;
}

.header__menu li:hover {
  border-bottom: 1px solid var(--white);
  text-shadow: 0 0 white;
}

.header__menu .header__menu--link{
    color: var(--white);
    text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
    background-color: var(--darkemail);
    background-image: url(../images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 100px;
}

.features .features__access, .features .features__security, .features .features__collaboration, .features .features__anyfile{
    margin:  0 0 50px 0;
}

.learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 85%;
    gap: 20px;
}

.learn-more__text--title, .learn-more__text--info, .learn-more__text--info2{
    align-self: flex-start;
}

.learn-more__text--link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.learn-more__text--link a{
    color: var(--cyan);
    align-self: flex-start;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    align-items: center;
    display: flex;
}

.learn-more__text--link a img {
    margin-left: 10px;
}

.learn-more__text--link:hover a{
    color: var(--white);
    border-bottom: 1px solid var(--white);
}

.testimonial{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.testimonial__comment{
    background-color: var(--darktestimonials);
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.testimonial__comment--text{
    font-size: 1.2rem;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

.testimonial__comment--commenter{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.testimonial__comment--commenter figure img {
        width: 30px;
        border-radius: 50%;
}

.testimonial__comment--commenter p {
    font-size: 1.2rem;
    text-align: left;
}

.testimonial::before {
    content: url(../images/bg-quotes.png);
    display: block;
    position: relative;
    top: 37px;
    right: 120px;
    transform: scale(0.5);
}

.testimonial__comment--name span{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.subscribe{
    display: flex;
    width: 90%;
    background-color: var(--darkemail);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    margin-bottom: -190px;
    gap: 20px;
    top: -30px;
}

.subscribe__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 40px 0;
}

.subscribe__heading{
    padding: 40px 0 0 0;
}

.subscribe__form--input{
    height: 60px;
    border-radius: 40px;
    width: 300px;
    border: 0;
    padding: 0 0 0 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 0 50px 0;
    background-color: var(--darkfooter);
}

.footer__logo{
    margin-top: 260px;
}

.footer__content--contact ul {
    list-style: none;
    text-align: left;
}

.footer__content--contact ul {
    display: inline-block;
    padding: 1rem 2rem;
    max-width: 320px;
}

.footer__content--contact ul > li:before {
    content: '';
    height: 20px;
    width: 20px;
    display: block;
    float: left;
    margin-left: -1.5rem;
}

.footer__content--contact ul > :nth-child(1):before {
    background: url(../images/icon-location.svg);
    background-repeat: no-repeat;
}

.footer__content--contact ul > :nth-child(2):before {
    background: url(../images/icon-phone.svg);
    background-repeat: no-repeat;
    margin-right: 20px;
}

.footer__content--contact ul > :last-child:before {
    background: url(../images/icon-email.svg);
    background-repeat: no-repeat;
    margin-right: 20px;
}

.footer__content--contact ul > li {
    clear: left;
    padding: 0.5rem 0;
}

.footer__content--navigation li{
    padding: 0 0 15px 0;
}

.footer__content--navigation li a {
    text-decoration: none;
}

.footer__content--navigation li a:hover {
    text-decoration: underline;
}

.footer__content--navigation{
        align-self: flex-start;
        margin: 30px 0 0 0;
}

.footer__content--navigation ul li {
    list-style: none;
}

.footer__content--navigation ul li a{
    color: var(--white);
}

.footer__content--social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

i.fab {
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: 0.5em 0.6em;
}

.footer__content--social i {
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}

@media screen and (min-width: 992px) {

    .container{
        gap: 200px;
    }

    .main{
        background-image: url(../images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main__text, .main__heading{
        width: 40%;
    }

    .features{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px 40px;
        width: 80%;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

    .features .features__access, .features .features__security, .features .features__collaboration, .features .features__anyfile{
        width: 70%;
        margin: 0;
    }

    .learn-more{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            'image title'
            'image text'
            'image text2'
            'image button';
    }

    .learn-more figure{
        grid-area: image;
        justify-self: center;
    }

    .learn-more__image{
        width: 500px;
    }

    .learn-more__text--title{
        text-align: left;
        width: 40%;
        grid-area: title;
    }
    
    .learn-more__text--info{
        grid-area: text;
    }

    .learn-more__text--info2{
        grid-area: text2;
    }

    .learn-more__text--link{
        grid-area: button;
    }

    .testimonial{
        flex-direction: row;
        width: 75%;
        margin: 0 0 100px 0;
    }

    .testimonial::before {
        top: -105px;
        right: -65px;
        transform: scale(1);
        z-index: -1;
    }

    .subscribe {
        top: -125px;
    }

    .subscribe__text{
        width: 45%;
    }

    .subscribe__form{
        flex-direction: row;
        padding: 0;
    }

    .subscribe__form--input{
        width: 500px;
        margin: 0 0 40px 0;
    }

    .footer{
        align-items: flex-start;
    }

    .footer__logo{
        margin: 300px 0 0 100px;
    }

    .footer__content{
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        gap: 50px;
        justify-content: space-between;
        width: 88%;
    }

    .footer__content--navigation {
        display: flex;
        gap: 100px;
        margin-left: 40px;
    }

    .footer__content--social {
        align-items: flex-start;
    }
}